@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
  /* Og Color palette*/
  --color-light-gray: #D9D9D9;
  --color-mid-blue: #9B5C91;
  --color-dark-blue: #450C40;
  --color-deep-navy: #34052E;


  /* Color aliases */
  --color-background: #34052E;
  --color-text-primary:#D9D9D9;
  --color-accent: #D9D9D9;
}

body {
  @apply bg-background text-text-primary font-sans antialiased;
  /* Spotlight effect */
  background-image: radial-gradient(ellipse 80% 50% at 50% -20%, rgba(217, 217, 217, 0.12), transparent);
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
  white-space: nowrap;
}
